doctype html
html(lang="ja")
  head
      meta(charset-"utf-8")
      title cookie excersize | Home

  body
    h1 cookie excersize

    form(method="post", action="/login")
      p
        label(for="userId") User ID:
        input(type="text", name="userId", require=true)

      p
        label(for="password") Password:
        input(type="password", name="password", require=true)

      p
        input(type="submit" value="Login!")

      p(style="color:red;") #{error}

    hr
    p cookie:
      div(id="cookie")

    script.
      onload = function() {
        var cookie = document.cookie;
        document.getElementById('cookie').innerHTML = cookie;
      };
